.swiper-slide {
  min-height: rem(636);
}

.custom-next, .custom-prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  cursor: pointer;
  padding: rem(10);
}

.custom-next {
  right: rem(-219);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 10;
}

.custom-prev {
  left: rem(-219);
}

@media (max-width: 80em) {
  .custom-next.next {
    position: absolute;
    right: 0;
    top: 92%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: rem(36);
    height: rem(36);
    background-color: #fff;
    border-radius: 50%;
  }
  .custom-next.next._icon-arrow::before {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 7px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #3bbac2 !important;
  }
}

.swiper-pagination {
  padding-bottom: rem(36);
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: rem(15);
}

.swiper-pagination .swiper-pagination-bullet {
  height: rem(6);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 rem(80);
          flex: 0 0 rem(80);
  background-color: #fff;
  border-radius: 0;
}

@media (max-width: 48em) {
  .swiper-pagination .swiper-pagination-bullet {
    height: rem(3);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 rem(21);
            flex: 0 0 rem(21);
  }
}

.main-block {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: rem(636);
  background: linear-gradient(45deg, #0c669c, #3bbac2);
}

.main-block__swiper {
  position: relative;
  width: 100%;
}

.slide-main-block__body {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: rem(117);
}

@media (max-width: 81.562em) {
  .slide-main-block__body {
    padding-top: calc(3.1875rem + (7.3125 - 3.1875) * ((100vw - 20rem) / (81.562 - 20)));
  }
}

@media (max-width: 39em) {
  .slide-main-block__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slide-main-block__body-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 39em) {
  .slide-main-block__body-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 66em) {
  .slide-main-block__body-content {
    margin-bottom: rem(50);
  }
}

.slide-main-block__body-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  max-width: rem(520);
  padding-right: rem(20);
}

@media (max-width: 81.562em) {
  .slide-main-block__body-info {
    max-width: calc(25rem + (32.5 - 25) * ((100vw - 39rem) / (81.562 - 39)));
  }
}

.slide-main-block__content:not(:last-child) {
  margin-bottom: rem(60);
}

@media (max-width: 81.562em) {
  .slide-main-block__content:not(:last-child) {
    margin-bottom: calc(2.0625rem + (3.75 - 2.0625) * ((100vw - 20rem) / (81.562 - 20)));
  }
}

.slide-main-block__title {
  font-weight: 300;
  font-size: rem(50);
  line-height: 1.12;
}

.slide-main-block__title > span {
  display: block;
  font-weight: 500;
}

.slide-main-block__title:not(:last-child) {
  margin-bottom: rem(20);
}

@media (max-width: 39em) {
  .slide-main-block__title:not(:last-child) {
    margin-bottom: rem(42);
  }
}

@media (max-width: 81.562em) {
  .slide-main-block__title {
    font-size: calc(1.75rem + (3.125 - 1.75) * ((100vw - 20rem) / (81.562 - 20)));
  }
}

.slide-main-block__sub-title {
  font-size: rem(16);
  line-height: calc(26/16);
  font-weight: 400 !important;
}

@media (max-width: 66em) {
  .slide-main-block__sub-title {
    max-width: rem(290);
  }
}

@media (max-width: 39em) {
  .slide-main-block__sub-title {
    display: none;
  }
}

.slide-main-block__btn {
  margin-top: rem(90);
}

.slide-main-block__btn::before {
  content: '';
  position: absolute;
  top: 40%;
  right: rem(25);
  width: rem(32);
  height: rem(12);
  background: url("../iconfonts/arrow.svg") center no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 39em) {
  .slide-main-block__btn::before {
    background-size: rem(16);
    height: rem(8);
  }
}

.slide-main-block__button {
  cursor: pointer;
  width: rem(190);
  height: rem(56);
  position: relative;
  font-size: rem(16);
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  z-index: 1;
  line-height: 1;
  font-weight: 500;
  padding: rem(20) rem(72) rem(21) rem(30);
  background-color: #39B6C0;
  border-radius: rem(3);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.slide-main-block__button:hover {
  background-color: #0C669C;
}

@media (max-width: 39em) {
  .slide-main-block__button {
    height: rem(48);
    width: rem(160);
    font-size: rem(14);
    padding: rem(16) rem(10) rem(16) rem(30);
  }
}

.slide-main-block__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-main-block__info {
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: rem(16);
}

@media (max-width: 81.562em) {
  .slide-main-block__info {
    font-size: calc(0.875rem + (1 - 0.875) * ((100vw - 30rem) / (81.562 - 30)));
  }
}

.slide-main-block__info > span {
  font-size: rem(46);
}

@media (max-width: 81.562em) {
  .slide-main-block__info > span {
    font-size: calc(1.5rem + (2.875 - 1.5) * ((100vw - 20rem) / (81.562 - 20)));
  }
}

.slide-main-block__info.title-1 {
  margin-bottom: rem(50);
}

@media (max-width: 81.562em) {
  .slide-main-block__info.title-1 {
    margin-bottom: calc(1.8rem + (3.125 - 1.8) * ((100vw - 20rem) / (81.562 - 20)));
  }
}

.slide-main-block__info.title-2 {
  margin-bottom: rem(75);
}

@media (max-width: 81.562em) {
  .slide-main-block__info.title-2 {
    margin-bottom: calc(1.8rem + (4.687 - 1.8) * ((100vw - 20rem) / (81.562 - 20)));
  }
}

.slide-main-block__image {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translate(3%, 0px);
          transform: translate(3%, 0px);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 81.562em) {
  .slide-main-block__image {
    max-width: calc(33.9rem + (56.5625 - 33.9) * ((100vw - 39rem) / (81.562 - 39)));
  }
}

@media (max-width: 52.5625em) {
  .slide-main-block__image {
    -webkit-transform: translate(28%, 0px);
            transform: translate(28%, 0px);
  }
}

.slide-main-block__image > img {
  max-width: 100%;
  min-width: rem(610);
  text-align: center;
}

@media (max-width: 39em) {
  .slide-1 .title-3 {
    max-width: rem(150);
  }
}

.slide-2 .slide-main-block__body-info {
  min-width: rem(550);
}

@media (max-width: 48em) {
  .slide-2 .slide-main-block__body-info {
    min-width: rem(420);
  }
}

@media (max-width: 38em) {
  .slide-2 .slide-main-block__body-info {
    min-width: 100%;
  }
}

.slide-2 .slide-main-block__image > img {
  min-width: rem(700);
}

@media (max-width: 81.562em) {
  .slide-2 .slide-main-block__image {
    max-width: calc(43.75rem + (72.9376 - 43.75) * ((100vw - 39rem) / (81.562 - 39)));
  }
}

@media (max-width: 52.5625em) {
  .slide-2 .slide-main-block__image {
    -webkit-transform: translate(10%, 0px);
            transform: translate(10%, 0px);
  }
}

.slide-3 .image-main-block-3-2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.slide-3 .slide-main-block__image > img.image-main-block-3-1 {
  position: relative;
  z-index: 1;
  min-width: rem(208);
  -webkit-transform: translate(-165%, 0px);
          transform: translate(-165%, 0px);
}

@media (max-width: 81.562em) {
  .slide-3 .slide-main-block__image img.image-main-block-3-1 {
    max-width: calc(13rem + (19.45 - 13) * ((100vw - 39rem) / (81.562 - 39)));
  }
}

@media (max-width: 48em) {
  .slide-3 .slide-main-block__image img.image-main-block-3-1 {
    -webkit-transform: translate(-10%, 0px);
            transform: translate(-10%, 0px);
  }
}

.slide-3 .slide-main-block__image > img.image-main-block-3-2 {
  min-width: rem(435);
  max-width: rem(705);
  -webkit-transform: translate(-88%, 0px);
          transform: translate(-88%, 0px);
}

@media (max-width: 81.562em) {
  .slide-3 .slide-main-block__image img.image-main-block-3-2 {
    max-width: calc(27rem + (44.125 - 27) * ((100vw - 39rem) / (81.562 - 39)));
  }
}

@media (max-width: 48em) {
  .slide-3 .slide-main-block__image img.image-main-block-3-2 {
    -webkit-transform: translate(-38%, 0px);
            transform: translate(-38%, 0px);
  }
}

.slide-4 .slide-main-block__image {
  -webkit-transform: translate(10%, 0px);
          transform: translate(10%, 0px);
}

.slide-4 .slide-main-block__image > img {
  min-width: rem(800);
}

@media (max-width: 81.562em) {
  .slide-4 .slide-main-block__image {
    max-width: calc(60.75rem + (74.9376 - 60.75) * ((100vw - 39rem) / (81.562 - 39)));
  }
}

@media (max-width: 52.5625em) {
  .slide-4 .slide-main-block__image {
    -webkit-transform: translate(42%, 0px);
            transform: translate(42%, 0px);
  }
}

.button-all {
  position: relative;
  white-space: nowrap;
  background-color: #39B6C0;
  border-radius: rem(6);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: rem(15) rem(53) rem(16) rem(30);
  font-size: rem(14);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  z-index: 10;
}

.button-all::before {
  position: absolute;
  right: rem(25);
  top: rem(17);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: rem(10);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.button-all:hover {
  background-color: #fff;
  color: #39B6C0;
}

.button-all:hover::before {
  color: #39B6C0;
}

@media (max-width: 36em) {
  .button-all {
    font-size: rem(13);
  }
  .button-all::before {
    right: rem(12);
  }
}

.service-block {
  padding: rem(120) 0 rem(100);
}

@media (max-width: 32em) {
  .service-block {
    padding: rem(60) 0 rem(100);
  }
}

.service-block__body {
  color: #fff;
}

.body-service-block__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: rem(30);
}

@media (max-width: 62em) {
  .body-service-block__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: rem(15);
  }
}

.body-service-block__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: rem(6);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.body-service-block__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.body-service-block__title {
  font-size: rem(36);
  font-weight: 500;
  text-align: center;
  color: #2A2651;
  margin-bottom: rem(40);
}

@media (max-width: 36em) {
  .body-service-block__title {
    font-size: rem(24);
    line-height: 1.17;
    margin-bottom: rem(30);
  }
}

.body-service-block__title > span {
  white-space: nowrap;
}

.body-service-block__link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 7;
}

.item-service-block:nth-of-type(2) {
  background-color: #0C669C;
}

.item-service-block {
  position: relative;
  background-color: #1A80A8;
}

.item-service-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: rem(45) rem(230) rem(45) rem(40);
}

@media (max-width: 36em) {
  .item-service-block__body {
    padding: rem(30) rem(90) rem(30) rem(26);
  }
}

@media (max-width: 25em) {
  .item-service-block__body {
    padding: rem(30) rem(74) rem(30) rem(26);
  }
}

.item-service-block__title {
  font-size: rem(24);
  line-height: 1.08;
  margin-bottom: rem(20);
  font-weight: 500;
}

.item-service-block__title.service-title-2 {
  max-width: rem(200);
}

@media (max-width: 32em) {
  .item-service-block__title {
    font-size: rem(18);
    line-height: 1.44;
  }
}

.item-service-block__sub-title {
  font-size: rem(14);
  line-height: 1.71;
  margin-bottom: rem(38);
  font-weight: 400;
}

@media (max-width: 32em) {
  .item-service-block__sub-title {
    font-size: rem(12);
    line-height: 1.5;
  }
}

.item-service-block__button {
  width: rem(190);
  height: rem(46);
  cursor: pointer;
}

@media (max-width: 32em) {
  .item-service-block__button {
    width: rem(155);
    height: rem(40);
  }
}

.item-service-block__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  position: absolute;
  right: 0;
  bottom: 0;
}

.item-service-block__image img {
  max-width: 100%;
  min-width: rem(400);
}

.body-service-block__items-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: rem(30);
  margin-top: rem(30);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 73.5em) {
  .body-service-block__items-services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: rem(15);
    margin-top: rem(15);
  }
}

.item-service-block__body-services {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

@media (max-width: 39em) {
  .item-service-block__body-services {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70%;
            flex: 1 1 70%;
  }
}

.body-service-block__item-services {
  border-radius: rem(6);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  background-color: #218CAD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: rem(45) rem(47) rem(40);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.body-service-block__item-services:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 36em) {
  .body-service-block__item-services {
    font-size: rem(18);
    padding: rem(40) rem(20) rem(20);
  }
}

@media (max-width: 62em) {
  .body-service-block__item-services {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.body-service-block__item-services:nth-of-type(2) {
  background-color: #197299;
}

.body-service-block__item-services:nth-of-type(3) {
  background-color: #31A9BA;
}

.body-service-block__link-services {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 7;
  min-height: 0;
}

.item-service-block__image-serivces {
  padding-left: rem(25);
}

.disease-block {
  background-color: #E9F4FF;
}

.body-disease-block {
  padding: rem(90) 0 rem(160) 0;
  text-align: center;
}

@media (max-width: 48em) {
  .body-disease-block {
    padding: rem(60) 0 rem(100) 0;
  }
}

.body-disease-block__title {
  font-size: rem(36);
  line-height: 1.12;
  font-weight: 500;
  margin-bottom: rem(20);
  color: #1B1D32;
}

@media (max-width: 48) {
  .body-disease-block__title {
    font-size: rem(24);
    line-height: 1.17;
  }
}

.body-disease-block__sub-title {
  color: #757AA4;
  line-height: 1.63;
  margin-bottom: rem(108);
  font-size: rem(16);
}

@media (max-width: 48em) {
  .body-disease-block__sub-title {
    font-size: rem(14);
  }
}

.media-disease-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: rem(15);
}

.media-disease-block__body {
  position: relative;
  width: 46.5%;
  padding: 15.25% 0;
  min-width: rem(300);
  min-height: rem(300);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.media-disease-block__image {
  max-width: 100%;
}

.media-disease-block__image::before, .media-disease-block__image::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(78, 127, 222, 0.2);
          box-shadow: 0px 2px 20px 0px rgba(78, 127, 222, 0.2);
}

.media-disease-block__image::before {
  max-width: 100%;
  max-height: 100%;
  border: rem(30) solid #fff;
}

@media (max-width: 48em) {
  .media-disease-block__image::before {
    border: rem(15) solid #fff;
  }
}

.media-disease-block__image::after {
  max-width: 80.71%;
  max-height: 80.71%;
  border: rem(6) solid #fff;
}

@media (max-width: 48em) {
  .media-disease-block__image::after {
    border: rem(3) solid #fff;
  }
}

.media-disease-block__image img {
  position: relative;
  width: rem(384);
  min-width: rem(220);
}

@media (max-width: 81em) {
  .media-disease-block__image img {
    width: calc(12rem + (24 - 12) * ((100vw - 39rem) / (81 - 39)));
  }
}

.media-disease-block__tips {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
}

@media (max-width: 48.1em) {
  .media-disease-block__tips {
    display: none;
  }
}

@-webkit-keyframes tipsShadow {
  0% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  50% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  100% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
}

@keyframes tipsShadow {
  0% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  50% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  100% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
}

.media-disease-block__tip {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  width: rem(49);
  height: rem(49);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.media-disease-block__tip:hover p {
  color: #0C669C;
}

.media-disease-block__tip p {
  font-size: rem(16);
  line-height: 1.33;
  color: #2A2651;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.media-disease-block__tip p:hover {
  color: #0C669C;
}

.media-disease-block__tip:nth-child(even) p {
  font-size: rem(26);
  line-height: 0.92;
  font-weight: 500;
  border-bottom: rem(2) dashed #2A2651;
}

.media-disease-block__tip::before, .media-disease-block__tip::after {
  content: '';
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #39B6C0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media-disease-block__tip::after {
  -webkit-animation: tipsShadow 2s ease infinite;
          animation: tipsShadow 2s ease infinite;
  border: 0;
  opacity: 20%;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.media-disease-block__tip span {
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: rem(28);
  left: 0;
  top: 5%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.media-disease-block__tip:nth-child(even)::before {
  background-color: #0C669C;
}

.media-disease-block__tip:nth-child(3), .media-disease-block__tip:nth-child(7) {
  width: rem(32.2);
  height: rem(32.2);
}

.media-disease-block__tip:nth-child(3)::after, .media-disease-block__tip:nth-child(7)::after {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.media-disease-block__tip:nth-child(3) span, .media-disease-block__tip:nth-child(7) span {
  font-size: rem(16);
}

@media (max-width: 48em) {
  .media-disease-block__tip span {
    display: none;
  }
}

.media-disease-block__tip-1 {
  top: -47.64%;
  left: 0;
}

.media-disease-block__tip-1 p {
  position: absolute;
  top: -100%;
  left: -60%;
}

.media-disease-block__tip-2 {
  top: -29.71%;
  left: 35.35%;
}

.media-disease-block__tip-2 p {
  position: absolute;
  top: 35%;
  left: 158%;
}

.media-disease-block__tip-3 {
  top: 0;
  left: 48%;
}

.media-disease-block__tip-3 p {
  position: absolute;
  top: 35%;
  left: 176%;
}

.media-disease-block__tip-4 {
  top: 29.71%;
  left: 35.35%;
}

.media-disease-block__tip-4 p {
  position: absolute;
  top: 35%;
  left: 176%;
}

.media-disease-block__tip-5 {
  bottom: 42.64%;
  left: 0;
}

.media-disease-block__tip-5 p {
  position: absolute;
  bottom: -100%;
  right: -50%;
}

.media-disease-block__tip-6 {
  top: 29.71%;
  left: -35.35%;
}

.media-disease-block__tip-6 p {
  position: absolute;
  top: 35%;
  right: 176%;
}

.media-disease-block__tip-7 {
  top: 0;
  left: -48%;
}

.media-disease-block__tip-7 p {
  position: absolute;
  top: 35%;
  right: 176%;
}

.media-disease-block__tip-8 {
  top: -29.71%;
  left: -35.35%;
}

.media-disease-block__tip-8 p {
  position: absolute;
  top: 35%;
  right: 176%;
}

.media-disease-block__items {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: rem(25);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: rem(13);
  line-height: 1.33;
}

@media (min-width: 48.1em) {
  .media-disease-block__items {
    display: none;
  }
}

.media-disease-block__items span {
  color: #33C1CC;
  margin-right: rem(4);
}

.media-disease-block__item {
  background-color: #E9F4FF;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(78, 127, 222, 0.2);
          box-shadow: 0px 2px 20px 0px rgba(78, 127, 222, 0.2);
  border-radius: rem(3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: rem(130);
  height: rem(40);
}

.items-media-block-1 {
  top: -24%;
  left: 0;
}

.items-media-block-2 {
  bottom: -24%;
  left: 0;
}

.doctors-scroll__swiper-slide.swiper-slide-thumb-active .swiper-scroll__body > .swiper-srcoll__block > .swiper-scroll__title {
  color: #39b6c0;
}

.doctros-wrapper-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 rem(450);
          flex: 0 1 rem(450);
}

@media (max-width: 62em) {
  .doctros-wrapper-col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.button-doctors-next {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: rem(15);
}

@media (max-width: 62em) {
  .button-doctors-next {
    margin-top: 0;
    margin-left: rem(15);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.button-doctors-prev {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-bottom: rem(15);
}

@media (max-width: 62em) {
  .button-doctors-prev {
    margin-bottom: 0;
    margin-right: rem(15);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.button-doctors-next,
.button-doctors-prev {
  background-color: #39b6c0;
  -webkit-box-shadow: 2px 2px 10px 0px #33c1cc;
          box-shadow: 2px 2px 10px 0px #33c1cc;
  border-radius: 50%;
  width: rem(42);
  height: rem(42);
  font-size: rem(10);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

.button-doctors-next:hover,
.button-doctors-prev:hover {
  background-color: #0c669c;
}

.button-doctors-next::after,
.button-doctors-prev::after {
  content: '';
  width: rem(60);
  height: rem(60);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #92f7ff;
  -webkit-animation: pulsArrows 2s infinite ease-in-out;
          animation: pulsArrows 2s infinite ease-in-out;
}

@media (max-width: 28em) {
  .button-doctors-next::after,
  .button-doctors-prev::after {
    width: rem(40);
    height: rem(40);
    -webkit-animation: none;
            animation: none;
  }
}

@media (max-width: 28em) {
  .button-doctors-next,
  .button-doctors-prev {
    width: rem(28);
    height: rem(28);
    font-size: rem(5);
  }
}

.button-doctors-next::before {
  top: 100%;
  left: 0;
}

@-webkit-keyframes pulsArrows {
  0% {
    width: rem(50);
    height: rem(50);
  }
  50% {
    width: rem(60);
    height: rem(60);
  }
  100% {
    width: rem(50);
    height: rem(50);
  }
}

@keyframes pulsArrows {
  0% {
    width: rem(50);
    height: rem(50);
  }
  50% {
    width: rem(60);
    height: rem(60);
  }
  100% {
    width: rem(50);
    height: rem(50);
  }
}

.slider-doctors-pagination .swiper-pagination-current {
  font-size: rem(16);
  font-weight: 700;
  margin-right: rem(-3);
}

.swiper-horizontal > .swiper-pagination-fraction {
  position: relative;
  display: inline;
  left: 90%;
  top: -20%;
  z-index: 20;
}

@media (max-width: 48em) {
  .swiper-horizontal > .swiper-pagination-fraction {
    left: 50%;
    top: 15%;
  }
}

@media (max-width: 29.25em) {
  .swiper-horizontal > .swiper-pagination-fraction {
    left: 50%;
    top: 26%;
  }
}

.doctors-block {
  background-color: #F1F8FF;
}

.doctors-wrapper-swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: rem(30);
  position: relative;
}

@media (max-width: 62em) {
  .doctors-wrapper-swiper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.doctors-block__swiper-container {
  height: rem(471);
  width: rem(875);
  min-width: 0;
}

@media (max-width: 62em) {
  .doctors-block__swiper-container {
    width: calc(18.125rem + (54.6875 - 18.125) * ((100vw - 20rem) / (62 - 20)));
  }
}

.doctors-block__body {
  padding: rem(100) 0 rem(120) 0;
}

@media (max-width: 35em) {
  .doctors-block__body {
    padding: rem(60) 0 rem(200) 0;
  }
}

.doctors-block__title {
  margin-bottom: rem(40);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.doctors-block__sub-title {
  color: #2A2651;
  font-size: rem(36);
  line-height: 0.67;
  margin-bottom: rem(25);
}

.doctors-block__text {
  font-size: rem(16);
  line-height: 1.63;
  color: #757AA4;
  max-width: rem(700);
  text-align: center;
}

.doctors-block__swiper-pagination {
  position: relative;
  bottom: 26%;
  left: 58%;
  width: 100%;
  z-index: 20;
}

.swiper-doctors__body {
  max-width: rem(850);
  position: relative;
}

.swiper-doctors__body::before, .swiper-doctors__body::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 27.06%;
  height: 45.11%;
  background-color: rgba(146, 247, 255, 0.55);
  border-radius: rem(10);
}

@media (max-width: 48em) {
  .swiper-doctors__body::before, .swiper-doctors__body::after {
    width: 34.5%;
    height: 23.25%;
  }
}

.swiper-doctors__body::before {
  left: -2%;
  top: -4%;
}

@media (max-width: 48em) {
  .swiper-doctors__body::before {
    top: -2%;
    left: -2%;
  }
}

.swiper-doctors__body::after {
  bottom: -4%;
  right: -2%;
}

@media (max-width: 48em) {
  .swiper-doctors__body::after {
    bottom: -2%;
    right: -2%;
  }
}

.body-swiper-doctors__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: rem(20);
  -webkit-box-shadow: 0px 10px 26px 0 rgba(165, 175, 197, 0.24);
          box-shadow: 0px 10px 26px 0 rgba(165, 175, 197, 0.24);
  padding: rem(50) rem(67) rem(72) rem(50);
  background-color: #FFFFFF;
}

@media (max-width: 48em) {
  .body-swiper-doctors__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: rem(30) rem(10) rem(32) rem(25);
  }
}

.body-swiper-doctors__image {
  width: 100%;
  max-width: rem(200);
  min-width: rem(117);
}

@media (max-width: 48em) {
  .body-swiper-doctors__image {
    height: rem(200);
    overflow: hidden;
    margin-bottom: rem(19);
    border-radius: rem(6);
  }
}

.body-swiper-doctors__image img {
  max-width: 100%;
}

.body-swiper-doctors__block {
  padding-left: rem(40);
}

@media (max-width: 48em) {
  .body-swiper-doctors__block {
    padding-left: 0;
  }
}

.block-doctors-body__title {
  margin-bottom: rem(17);
}

.block-doctors-body__name {
  color: #1B1D32;
  font-size: rem(20);
  line-height: 1;
  font-weight: 500;
}

.block-doctors-body__specialist {
  font-size: rem(15);
  line-height: 1.33;
  color: #7E83AE;
}

.block-doctors-body__years {
  font-size: rem(16);
  line-height: 1;
  color: #1B1D32;
  margin-bottom: rem(13);
}

.block-doctors-body__years span {
  font-weight: 700;
}

.block-doctors-body__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: rem(11);
  margin-bottom: rem(43);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

@media (max-width: 48em) {
  .block-doctors-body__comments {
    margin-bottom: rem(16);
  }
}

.block-doctors-body__raiting {
  cursor: pointer;
}

.block-doctors-body__raiting .uncheked::before {
  color: #C9D2EA;
  opacity: 0.26;
}

.block-doctors-body__comment {
  font-size: rem(14);
  line-height: 1;
}

.block-doctors-body__comment:hover {
  border-bottom: 1px dashed #6D768C;
}

.block-doctors-body__comment span {
  color: #33C1CC;
}

.block-doctors-body__description {
  margin-bottom: rem(32);
}

@media (max-width: 48em) {
  .block-doctors-body__description {
    margin-bottom: rem(12);
  }
}

.block-doctors-body__video {
  display: inline-block;
  position: relative;
  color: #000000;
  font-weight: 400;
  font-size: rem(16);
  line-height: 1;
  font-weight: 400;
  border-bottom: 1px dashed #000000;
  margin-bottom: rem(14);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.block-doctors-body__video:hover {
  color: #0C669C;
  border-bottom: 1px dashed #0C669C;
}

.block-doctors-body__video::before {
  position: absolute;
  top: -38%;
  right: -33%;
  font-size: rem(26);
}

@media (max-width: 48em) {
  .block-doctors-body__video::before {
    font-size: rem(20);
  }
}

@media (max-width: 48em) {
  .block-doctors-body__video {
    font-size: rem(14);
    margin-bottom: rem(12);
  }
}

.block-doctors-body__text {
  font-size: rem(14);
  line-height: 1.57;
  color: #6D768C;
}

@media (max-width: 48em) {
  .block-doctors-body__text {
    font-size: rem(12);
    line-height: 1.5;
  }
}

.block-doctors-body__button {
  color: #fff;
}

.block-doctors-body__button .button-all {
  -webkit-box-shadow: 0px 8px 10px 0px rgba(2, 142, 206, 0.32);
          box-shadow: 0px 8px 10px 0px rgba(2, 142, 206, 0.32);
}

.block-doctors-body__button .button-all:hover {
  color: #fff;
  background-color: #028ECE;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.block-doctors-body__button .button-all:hover::before {
  color: #fff;
}

@media (max-width: 48em) {
  .block-doctors-body__button .button-all {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #fff;
    color: #33C1CC;
    font-size: rem(13);
    padding: rem(0) rem(53) rem(0) rem(0);
  }
  .block-doctors-body__button .button-all::before {
    color: #33C1CC !important;
    top: 10%;
    left: 0;
  }
}

.doctors-scroll__swiper-container {
  overflow: hidden;
  width: rem(410);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: rem(300);
}

@media (max-width: 81.562em) {
  .doctors-scroll__swiper-container {
    width: calc(15rem + (25.625 - 15) * ((100vw - 62rem) / (81.562 - 62)));
  }
}

@media (max-width: 62em) {
  .doctors-scroll__swiper-container {
    display: none;
  }
}

.doctors-scroll__swiper-container .swiper-slide {
  width: rem(410);
  height: rem(90);
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

@media (max-width: 81.562em) {
  .doctors-scroll__swiper-container .swiper-slide {
    width: calc(15rem + (25.625 - 15) * ((100vw - 62rem) / (81.562 - 62)));
  }
}

@media (max-width: 62em) {
  .doctors-scroll__swiper-container .swiper-slide {
    width: rem(410);
  }
}

.doctors-scroll__swiper-slide .swiper-slide-thumb-active ~ .body-swiper-doctors__block > .swiper-scroll__title {
  color: red;
}

.doctors-scroll__swiper-slide.swiper-slide {
  cursor: pointer;
}

.swiper-scroll__body {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(165, 175, 197, 0.2);
          box-shadow: 0px 2px 20px 0px rgba(165, 175, 197, 0.2);
  border-radius: rem(6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: rem(15) rem(35) rem(15) rem(14);
}

.swiper-scorll__image {
  margin-right: rem(17);
}

.swiper-scroll__title {
  font-size: rem(16);
  line-height: 1.13;
  margin-bottom: rem(5);
  color: #1B1D32;
}

.swiper-scroll__sub-title {
  font-size: rem(13);
  line-height: 0.7;
}

.doctors-scroll__swiper-slide.swiper-slide-thumb-active .swiper-scroll__body > .swiper-srcoll__block > .swiper-scroll__title {
  color: #39b6c0;
}

.doctors-scroll-mob__swiper-slide.swiper-slide-active > .swiper-mob__image::before {
  content: '';
  width: rem(60.8);
  height: rem(60.9);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 4px solid rgba(51, 193, 204, 0.29);
}

.doctors-scroll-mob__swiper-container {
  overflow: hidden;
  width: rem(200);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: rem(60);
}

@media (min-width: 62.009em) {
  .doctors-scroll-mob__swiper-container {
    display: none;
  }
}

.doctors-scroll-mob__swiper-container .swiper-slide {
  width: rem(50);
  height: rem(50);
  min-height: 0;
  min-width: 0;
}

.doctors-scroll-mob__swiper-slide {
  width: rem(42);
  height: rem(42);
}

.swiper-mob__image {
  position: relative;
  width: rem(60);
  height: rem(60);
}

.swiper-mob__image img {
  max-width: 100%;
}

.page__form-block {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  background: url(../img/form-block/form-bg.png) center/cover no-repeat;
}

.page__form-block::before {
  background: linear-gradient(45deg, rgba(12, 102, 156, 0.9), rgba(59, 186, 194, 0.9));
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-block__bg {
  padding-top: rem(68);
  padding-bottom: rem(68);
}

@media (max-width: 56em) {
  .form-block__bg {
    padding-bottom: rem(272);
  }
}

@media (max-width: 24em) {
  .form-block__bg {
    padding-bottom: rem(267);
  }
}

.form-block {
  position: relative;
  color: #fff;
}

.form-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 56em) {
  .form-block__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.info-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  padding-right: rem(237);
  position: relative;
  z-index: 10;
}

@media (max-width: 81.562em) {
  .info-form {
    padding-right: calc(5rem + (14.8125 - 5) * ((100vw - 62rem) / (81.562 - 62)));
  }
}

@media (max-width: 56em) {
  .info-form {
    padding: 0 1rem;
    text-align: center;
  }
}

.info-form__title {
  font-size: rem(36);
  margin-bottom: rem(5);
}

@media (max-width: 48em) {
  .info-form__title {
    font-size: rem(24);
  }
}

.info-form__sub-title {
  font-size: rem(20);
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: rem(28);
}

@media (max-width: 48em) {
  .info-form__sub-title {
    font-size: rem(14);
  }
}

.info-form__text {
  line-height: 1.63;
  font-weight: 400;
}

@media (max-width: 56em) {
  .info-form__text {
    display: none;
  }
}

.form-block__image {
  position: absolute;
  left: 35%;
  bottom: 0;
}

@media (max-width: 68em) {
  .form-block__image {
    left: 0;
  }
}

@media (max-width: 62em) {
  .form-block__image {
    left: 25%;
  }
}

@media (max-width: 28em) {
  .form-block__image {
    left: 0;
  }
}

.form-block__image img {
  max-width: 100%;
  min-width: 290px;
  text-align: center;
}

.form-action {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 rem(560);
          flex: 1 1 rem(560);
}

.form-action__form {
  padding: rem(47) rem(40) rem(47);
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(78, 127, 222, 0.2);
          box-shadow: 0px 2px 10px 0px rgba(78, 127, 222, 0.2);
  border-radius: rem(10);
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: rem(20);
}

@media (max-width: 50em) {
  .form-action__form {
    padding: rem(40) rem(28) rem(20);
  }
}

.form-action__title {
  color: #1B1D32;
  font-size: rem(24);
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: rem(10);
}

@media (max-width: 50em) {
  .form-action__title {
    font-size: rem(18);
    text-align: center;
  }
}

.form-actino__control {
  color: #7E83AE;
  font-size: rem(12);
}

.form-actino__control a {
  border-bottom: 1px solid #7E83AE;
}

.form-action__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: rem(20);
}

@media (max-width: 48em) {
  .form-action__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-action__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: rem(20);
}

@media (max-width: 48em) {
  .form-action__submit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-action__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.form-action__calendar {
  position: relative;
}

.form-action__icon {
  position: absolute;
  top: 70%;
  left: 43%;
}

.form-action__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.form-action__block .options-container {
  background: #fff;
  color: #7E83AE;
  max-height: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: rem(6);
  overflow: hidden;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: absolute;
  z-index: 30;
}

.selected, .form-action__name, .form-action__tel, .form-action__calendar {
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(126, 131, 174, 0.2) inset;
  box-shadow: 0px 4px 4px 0px rgba(126, 131, 174, 0.2) inset;
  border: 1px solid transparent;
  border-radius: rem(4);
  color: #7E83AE;
  position: relative;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  padding: rem(15) rem(18);
  font-weight: 400;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.selected:hover, .form-action__name:hover, .form-action__tel:hover, .form-action__calendar:hover {
  border: 1px solid rgba(51, 193, 204, 0.29);
  color: #000;
}

.selected:focus, .form-action__name:focus, .form-action__tel:focus, .form-action__calendar:focus {
  border: 1px solid #000;
  color: #7E83AE;
}

.form-action__name, .form-action__tel {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.form-action__name::-webkit-input-placeholder, .form-action__tel::-webkit-input-placeholder,
.form-action__calendar::-webkit-input-placeholder {
  font-size: rem(16);
  line-height: 1.63;
}

.selected::before {
  position: absolute;
  top: 50%;
  left: 95%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.form-action__block .options-container.active {
  max-height: rem(192);
  opacity: 1;
  overflow-y: scroll;
  padding: rem(19);
  z-index: 30;
}

.secect-box.active > .selected::before {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  top: -6px;
}

.form-action__block .options-container::-webkit-scrollbar {
  width: rem(5);
  background: rgba(201, 210, 234, 0.4);
  border-radius: rem(6);
}

.form-action__block .options-container::-webkit-scrollbar-thumb {
  background: #7E83AE;
  border-radius: rem(6);
}

.form-action__block .option,
.selected {
  cursor: pointer;
}

.select-box label {
  cursor: pointer;
}

.option:not(:last-child) {
  margin-bottom: rem(20);
}

.option {
  color: #1B1D32;
  font-size: rem(12);
  font-weight: 400;
  cursor: pointer;
}

.options-container .option .radio {
  display: none;
  cursor: pointer;
}

.body-about {
  padding: rem(120) 0 rem(80);
}

@media (max-width: 48em) {
  .body-about {
    padding: rem(60) 0 rem(60);
  }
}

.body-about__title {
  color: #2A2651;
  font-size: rem(36);
  line-height: 0.67;
  text-align: center;
  margin-bottom: rem(50);
}

@media (max-width: 36em) {
  .body-about__title {
    font-size: rem(24);
    margin-bottom: rem(30);
  }
}

.tabs-about-body {
  margin-bottom: rem(116);
}

@media (max-width: 48em) {
  .tabs-about-body {
    margin-bottom: rem(60);
  }
}

.tabs-about-body__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: rem(40);
  gap: rem(30);
}

@media (max-width: 36em) {
  .tabs-about-body__nav {
    gap: rem(17);
  }
}

.tabs-about-body__btn {
  color: #2A2651;
  font-size: rem(18);
  font-weight: 500;
  line-height: 1.33;
  background-color: #fff;
  padding: rem(8) rem(30);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(78, 127, 222, 0.2);
          box-shadow: 0px 2px 10px 0px rgba(78, 127, 222, 0.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: rem(3);
}

.tabs-about-body__btn.active-tab {
  background-color: #39B6C0;
  -webkit-box-shadow: 0px 8px 10px 0px rgba(2, 142, 206, 0.32);
          box-shadow: 0px 8px 10px 0px rgba(2, 142, 206, 0.32);
  color: #fff;
}

@media (max-width: 36em) {
  .tabs-about-body__btn {
    padding: rem(8) rem(16);
    font-size: rem(14);
  }
}

.tabs-about-body__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: rem(80);
}

@media (max-width: 81.562em) {
  .tabs-about-body__info {
    gap: calc(3rem + (5 - 3) * ((100vw - 62rem) / (81.562 - 62)));
  }
}

@media (max-width: 48em) {
  .tabs-about-body__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: rem(50);
  }
}

.tabs-about-body__media {
  position: relative;
  width: rem(660);
  height: rem(390);
}

@media (max-width: 81.562em) {
  .tabs-about-body__media {
    width: calc(18.93rem + (41.25 - 18.93) * ((100vw - 20rem) / (81.562 - 20)));
  }
}

@media (max-width: 81.562em) {
  .tabs-about-body__media {
    height: calc(16.44rem + (24.375 - 16.44) * ((100vw - 48rem) / (81.562 - 48)));
  }
}

.tabs-about-body__media::before, .tabs-about-body__media::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 27.06%;
  height: 45.11%;
  border-radius: 0.625rem;
}

.tabs-about-body__media::before {
  left: -1%;
  top: -3%;
  background-color: rgba(146, 247, 255, 0.19);
}

.tabs-about-body__media::after {
  bottom: -7%;
  right: 0%;
  background-color: rgba(146, 247, 255, 0.55);
}

.tabs-about-body__content {
  color: #6D768C;
  font-size: rem(16);
  line-height: 1.63;
}

.tabs-about-body__content p {
  margin-bottom: rem(40);
}

@media (max-width: 81.562em) {
  .tabs-about-body__content p {
    margin-bottom: calc(1.5rem + (2.5 - 1.5) * ((100vw - 48rem) / (81.562 - 48)));
    font-size: calc(0.87rem + (1 - 0.87) * ((100vw - 20rem) / (81.562 - 20)));
  }
}

.tabs-about-body__button {
  position: relative;
  display: inline-block;
  width: rem(200);
  padding: rem(18) rem(70) rem(17) rem(35);
  font-size: rem(16);
  font-weight: 500;
}

.tabs-about-body__button::before {
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: rem(10);
  right: 14%;
  top: 43%;
}

.media-tabs-pagination {
  display: none;
}

@media (max-width: 36em) {
  .media-tabs-pagination {
    display: block;
  }
}

.media-tabs__container.swiper-container {
  height: 390px;
}

.media-tabs__slide.swiper-slide {
  height: 390px !important;
  min-height: 0 !important;
}

.media-tabs__slide img {
  max-width: 100%;
}

.media-tabs__button-next {
  background-color: #fff;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  font-size: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  position: absolute;
  top: 84%;
  left: 88%;
  z-index: 10;
}

.media-tabs__button-next::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #33C1CC;
}

@media (max-width: 62em) {
  .media-tabs__button-next {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 0.5rem;
  }
}

.media-tabs__video {
  position: relative;
  width: rem(660);
}

@media (max-width: 81.562em) {
  .media-tabs__video {
    width: calc(18.12rem + (41.31 - 18.12) * ((100vw - 20rem) / (81.562 - 20)));
  }
}

.media-tabs__video::before, .media-tabs__video::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: rem(90);
  height: rem(90);
  border-radius: 50%;
}

.media-tabs__video::after {
  background-color: rgba(255, 255, 255, 0.72);
  width: rem(120);
  height: rem(120);
}

.media-tabs__video img {
  max-width: 100%;
}

.about-item {
  display: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.about-item.active-tab {
  display: block;
}

.media-tabs__button {
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 50px;
}

.media-tabs__button:hover {
  color: #0C669C;
}

.media-tabs__tour {
  position: relative;
  width: rem(661);
  height: rem(390);
  z-index: 5;
}

@media (max-width: 81.562em) {
  .media-tabs__tour {
    width: calc(18.93rem + (41.25 - 18.93) * ((100vw - 20rem) / (81.562 - 20)));
  }
}

.media-tabs__tour img {
  max-width: 100%;
}

.media-tabs__tour::before {
  content: '';
  background-color: rgba(11, 111, 157, 0.6);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: rem(10);
}

.media-tabs__tour-3d {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.media-tabs__tour-3d::before {
  font-size: rem(90);
}

.media-tabs__container > img {
  max-width: 100%;
}

.advantage-about-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-column-gap: rem(50);
          column-gap: rem(50);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 62em) {
  .advantage-about-body {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -webkit-column-gap: rem(80);
            column-gap: rem(80);
    row-gap: rem(30);
  }
}

@media (max-width: 48em) {
  .advantage-about-body {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    -ms-grid-rows: (rem(260))[4];
        grid-template-rows: repeat(4, rem(260));
  }
}

.advantage-about-body__item {
  display: -ms-grid;
  display: grid;
  gap: rem(25);
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
}

@media (max-width: 48em) {
  .advantage-about-body__item {
    -ms-grid-rows: 1fr 3fr;
        grid-template-rows: 1fr 3fr;
  }
}

.advantage-about__title {
  margin-bottom: rem(15);
  color: #2A2651;
  font-size: rem(22);
  line-height: 1.55;
}

@media (max-width: 48em) {
  .advantage-about__title {
    font-size: rem(18);
    line-height: 1.33;
  }
}

.advantage-about__sub-title {
  color: #757AA4;
  font-size: rem(16);
  line-height: 1.63;
  font-weight: 300;
}

@media (max-width: 48em) {
  .advantage-about__sub-title {
    font-size: rem(14);
    line-height: 1.57;
  }
}

.license-block {
  background: linear-gradient(45deg, #f9fbff, #deedf6);
}

.body-license {
  padding: rem(54) 0 rem(46) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 48em) {
  .body-license {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: rem(17);
  }
}

.body-license__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 48em) {
  .body-license__info {
    margin-bottom: rem(50);
  }
}

.body-license__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: rem(10);
}

.info-license__block {
  color: #1B1D32;
  padding-right: rem(10);
}

.info-license__title {
  margin-bottom: rem(50);
}

@media (max-width: 48em) {
  .info-license__title {
    margin-bottom: rem(20);
  }
}

.info-license__sub-title {
  font-size: rem(36);
  line-height: 0.67;
  margin-bottom: rem(11.3);
}

@media (max-width: 48em) {
  .info-license__sub-title {
    font-size: rem(24);
  }
}

.info-license__text {
  font-weight: 300;
}

@media (max-width: 48em) {
  .info-license__text {
    font-size: rem(14s);
  }
}

.info-license__points {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: (auto)[1];
      grid-template-rows: repeat(1, auto);
  -webkit-column-gap: rem(15);
          column-gap: rem(15);
}

@media (max-width: 48em) {
  .info-license__points {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    -ms-grid-rows: (35%)[3];
        grid-template-rows: repeat(3, 35%);
    row-gap: rem(9);
  }
}

.info-license__point {
  position: relative;
  padding-left: rem(32);
}

.info-license__point::before {
  content: '';
  position: absolute;
  width: rem(12);
  height: rem(120);
  top: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(170, 180, 206, 0.29), rgba(201, 210, 234, 0));
}

@media (max-width: 48em) {
  .info-license__point::before {
    width: rem(12);
    height: rem(70);
  }
}

@media (max-width: 48em) {
  .info-license__point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: rem(18);
  }
}

.info-license__point img {
  width: rem(26);
  height: rem(26);
}

.info-license__about {
  font-weight: 300;
  line-height: 1.66;
  padding-top: rem(13);
}

@media (max-width: 62em) {
  .info-license__about {
    font-size: rem(14);
    margin-left: rem(16);
  }
}
/*# sourceMappingURL=home.css.map */